In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [ ]:
data = pd.read_csv('train.csv')

data.head()

  state  account_length  ... number_customer_service_calls churn
0    OH             107  ...                             1    no
1    NJ             137  ...                             0    no
2    OH              84  ...                             2    no
3    OK              75  ...                             3    no
4    MA             121  ...                             3    no

[5 rows x 20 columns]

In [ ]:
data.isna().sum()

state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64

In [ ]:
test_data = pd.read_csv('test.csv')
test_ids = test_data['id']
test_data.head()

   id state  ...  total_intl_charge number_customer_service_calls
0   1    KS  ...               2.70                             1
1   2    AL  ...               1.70                             0
2   3    IA  ...               3.54                             4
3   4    VT  ...               2.19                             3
4   5    NE  ...               4.19                             3

[5 rows x 20 columns]

In [ ]:
test_data.drop(['state','area_code'],axis=1,inplace=True)

In [ ]:
test_data.head()

   id  account_length  ... total_intl_charge number_customer_service_calls
0   1             128  ...              2.70                             1
1   2             118  ...              1.70                             0
2   3              62  ...              3.54                             4
3   4              93  ...              2.19                             3
4   5             174  ...              4.19                             3

[5 rows x 18 columns]

In [ ]:
le  = LabelEncoder()
cat_cols = ['international_plan','voice_mail_plan','churn']
for col in cat_cols:
  data[col] = le.fit_transform(data[col])

In [ ]:
data.head()

   account_length  international_plan  ...  number_customer_service_calls  churn
0             107                   0  ...                              1      0
1             137                   0  ...                              0      0
2              84                   1  ...                              2      0
3              75                   1  ...                              3      0
4             121                   0  ...                              3      0

[5 rows x 18 columns]

In [ ]:
cat_col = ['international_plan','voice_mail_plan']
for i in cat_col:
  test_data[i] = le.transform(test_data[i])
test_data.head()

   id  account_length  ...  total_intl_charge  number_customer_service_calls
0   1             128  ...               2.70                              1
1   2             118  ...               1.70                              0
2   3              62  ...               3.54                              4
3   4              93  ...               2.19                              3
4   5             174  ...               4.19                              3

[5 rows x 18 columns]

In [ ]:
test_data.isna().sum()

id                               0
account_length                   0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
dtype: int64

In [ ]:
y = data['churn']
X = data.drop(['churn'],axis=1)

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=10)

In [ ]:
log_reg = LogisticRegression()
rdm_model = RandomForestClassifier()
dt_model = DecisionTreeClassifier()
xg_model = XGBClassifier()

In [ ]:
log_reg.fit(X_train,y_train)
rdm_model.fit(X_train,y_train)
dt_model.fit(X_train,y_train)
xg_model.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [ ]:
y1_pred = log_reg.predict(X_test)
y2_pred = rdm_model.predict(X_test)
y3_pred = dt_model.predict(X_test)
y4_pred = xg_model.predict(X_test)

In [ ]:
accuracy_score(y_test,y1_pred)

0.8541176470588235

In [ ]:
accuracy_score(y_test,y2_pred)

0.9552941176470588

In [ ]:
accuracy_score(y_test,y3_pred)

0.92

In [ ]:
accuracy_score(y_test,y4_pred)

0.9623529411764706

In [ ]:
test_data.drop(['id'],axis=1,inplace=True)
test_data.head()

   account_length  ...  number_customer_service_calls
0             128  ...                              1
1             118  ...                              0
2              62  ...                              4
3              93  ...                              3
4             174  ...                              3

[5 rows x 17 columns]

In [ ]:
submission_preds = xg_model.predict(test_data)

In [ ]:
df = pd.DataFrame({
    'id' : test_ids.values,
    'churn': submission_preds
})

In [ ]:
df.head()

   id  churn
0   1      0
1   2      0
2   3      1
3   4      0
4   5      0

In [ ]:
df.replace((1,0),('yes','no'),inplace=True
           )

In [ ]:
df.head()

    id churn
0  yes    no
1    2    no
2    3   yes
3    4    no
4    5    no

In [ ]:
df['churn'].value_counts()

no     658
yes     92
Name: churn, dtype: int64

In [ ]:
df['id'] = df['id'].replace(['yes'],1)

In [ ]:
df.head()

   id churn
0   1    no
1   2    no
2   3   yes
3   4    no
4   5    no

In [ ]:
df.to_csv('sample_submission1.csv',index=False)